body {
    background-color: #EEE;
    min-height: 100vh;
    margin: 0;
}

#container {
    max-width: 960px;
    margin: 30px auto;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    padding: 50px; 
    border-radius:10px;
    line-height: 1.6;
    font-size: 16pt;
}

.side-image {
    width: 50%;
    float: left;
    margin: 30px;
}

@media screen and (max-width: 1100px) {
    #container {
        margin: auto;
    }
    body {
        background: white;
    }
    .side-image {
        margin: 20px;
    }
}

@media screen and (max-width: 640px) {
    #container {
        font-size: 12pt;
    }

    .side-image {
        box-sizing: border-box; 
        width: 100%;
        margin: 10px;
    }
}

@media screen and (max-width: 400px) {
    #container {
        font-size: 10pt;
        padding: 10px;
    }

    .side-image {
        margin: 5px;
    }
}



header {
    text-align: center;
}

#titlebar-buttons-section {
    float: left;
    /* margin-right: auto; */
    /* text-align: left;
    /* margin: auto; */ 
}

/* #titlebar-spacer {
    display: inline-block;
    margin: auto;
} */

#titlebar-login-section {
    float: right;
    /* text-align: rV
    margin: auto; */
    /* margin-left: auto; */
}

#clear {
    clear: both;
}

select {
    font-size: 18px;
    margin: 10px;
    padding: 5px;
}

table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
    table-layout: auto;
    overflow-x: auto;
}

@media screen and (min-width: 720px) {
    ul {
        columns: 2;
        column-gap: 100px;
    }
    
    li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

table, th, td {
    /* border: 1px solid lightgrey; */
    border-collapse: collapse;
    text-align: center; 
}

.rolled-score {
    border: 2px solid black;
    box-sizing: border-box;
    background-color: aliceblue;
    max-width: 4em;
    min-width: 3em;
    margin: auto;
    border-radius: 10px;
}

@media screen and (min-width: 480px) {
    table {
        padding: 5px;
    }
}

.rolled-score:hover {
    background-color: white;
}

.rolled-score:active {
    background-color: beige;
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

/* th {
    min-width: 8em;
} */

@media screen and (min-width: 900px) {
    th {
        min-width: 8em;
    }
}

button {
    /* background: linear-gradient(darkred, firebrick); */
    background: linear-gradient(firebrick, darkred);
    border: 2px solid rgb(36, 2, 2);
    /* min-width: 240px; */
    width: 320px;
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    font-weight: bolder;
    color: white;
    border-radius: 8px;
    padding: 16px;
    line-height: 1;
    margin: 20px 30px;
}

@media screen and (max-width: 480px) {
    button {
        width: 240px;
        margin: 10px 15px;
    }
}

.buttons-array {
    margin:auto;
    text-align:center;
}

button:hover {
    background: linear-gradient(red, firebrick);
    cursor: pointer;
}

button:active {
    /* background: linear-gradient(firebrick, darkred); */
    background: linear-gradient(red, darkred);
}

/* #short-description {
    text-align: center;
} */

.titlebox, .headline {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: darkred;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 8px;
}

.headline {
    margin-top: 50px;
}

.titlebox {
    line-height: 1;
}


.title {
    font-size: 36pt;
    margin: 20px;
}

.subtitle {
    font-size: 22pt;
    margin: 20px;
}
