body {
    background-color: #EEE;
    min-height: 100vh;
    margin: 0;
}

#container {
    max-width: 960px;
    margin: 30px auto;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    padding: 50px; 
    border-radius:10px;
    line-height: 1.6;
    font-size: 16pt;
}

.side-image {
    width: 50%;
    float: left;
    margin: 30px;
    border-radius: 5px;
}

label {
    font-size: 20px;
    vertical-align: middle;
}
.editbox {
    /* background-color: snow; */
    border-color: lightblue;
    -webkit-box-shadow: inset 0px 0px 4px 0px #000;
    box-shadow: inset 0px 0px 4px 0px #000;
    border-style: solid;
    border-width: 1px;
    /* border-radius: 8px; */
    padding: 5px 20px;
    margin: 10px 0px;
    text-align:left;
    vertical-align: middle;
    /* font-family: monospace; */
    font-size: 16pt;
    min-height: 3.5em;
}

.smaller-editbox {
    min-height: 2.5em;
}

header {
    text-align: center;
}

#titlebar-buttons-section {
    float: left;
}

#titlebar-login-section {
    float: right;
}

.clear {
    clear: both;
}

select, input[type=text] {
    font-size: 18px;
    margin: 10px;
    padding: 5px;
}

h5 {
    margin: 5px;
    padding: 5px;
}

@media screen and (min-width: 360px) {
    select, input[type=text] {
        width: 240px;
    }

    li select {
        width: 240px;
    }
}

@media screen and (max-width: 960px) {
    select, input[type=text] {
        max-width: 240px;
    }

    li select {
        max-width: 240px;
    }
}

@media screen and (min-width: 960px) {
    select, input[type=text] {
        width: 320px;
    }

}

#select-equipment-category-div {
    float: left;
    margin: 40px 10px;
}

table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
    text-align: left;
}

table, th, td {
    border-collapse: collapse;
}

.equipment-table {
    padding: 5px;
    font-size: 12pt;
    table-layout: auto;
    padding: 8px;
}

/* .item-table {
    table-layout: fixed;
} */


td button {
    float: right;
}

.buy-header, .remove-header {
    text-align: right;
}

.pack-description-cell {
    min-width: 200px;
}

.small-print {
    font-size: 12pt;
}


th, td {
    padding: 3px 0px;
}

.equipment-table th, .equipment-table td {
    padding: 4px;
}


@media screen and (min-width: 600px) {
    th, td {
        padding: 5px 40px;
    }

    .equipment-table th, .equipment-table td {
        padding: 10px;
    }
}


.stats-table {
    text-align: center;
}

@media screen and (min-width: 800px) {
    ul.two-column {
        columns: 2;
        column-gap: 80px;
    }

    div.two-column {
        columns: 2;
        column-gap: 80px;
    }
    
    li.two-column {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .two-column-section {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        padding: 5px;
        margin: 5px;
    }
}

li {
    padding: 15px 5px;
}

li li {
    padding: 5px;
}

caption {
    font-size: 130%;
}

th {
    font-weight: bold;
    background-color: rgb(241, 241, 241);
}

@media screen and (max-width: 600px) {
    .table-overflow-container {
        overflow-x: scroll;
    }
}

.rolled-score {
    border: 2px solid black;
    box-sizing: border-box;
    background-color: aliceblue;
    max-width: 4em;
    min-width: 3em;
    margin: auto;
    border-radius: 10px;
}

@media screen and (min-width: 480px) {
    table {
        padding: 5px;
    }
}

.rolled-score:hover {
    background-color: white;
}

.rolled-score:active {
    background-color: beige;
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

    tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

@keyframes paleglow {
    from { background-color: antiquewhite; }
    to { background-color: khaki; }
}

.scoreglow {
    animation-name: paleglow;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

button {
    background: linear-gradient(firebrick, darkred);
    border: 2px solid rgb(36, 2, 2);
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    color: white;
    font-weight: bolder;
}

.big-button {
    width: 320px;
    font-size: 18pt;
    border-radius: 8px;
    padding: 16px;
    margin: 20px 30px;
}

.med-button {
    width: 200px;
    font-size: 14pt;
    border-radius: 8px;
    padding: 8px;
    margin: 20px 20px;
    float: right;
}

.trait-button {
    font-size: 14pt;
    height: 1.2em;
    border-radius: 6px;
    padding: 8px 30px;
    box-sizing: content-box;
    float: right;
}

.table-button {
    font-size: 12pt;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    height: 2em;
} 

.buy-button {
    width: 3em;
}

.remove-button {
    font-size: 12pt;
    width: 5em;
}

@media screen and (min-width: 800px) {
    .table-button {
        font-size: 14pt;
    }
    .buy-button {
        width: 4em;
    }
    .remove-button {
        width: 6em;
    }
}

/* @media screen and (max-width: 600px) {
} */

@media screen and (max-width: 400px) {
    .table-button {
        font-size: 10pt;
        padding: 2px;
        border-radius: 4px;
    }

    .buy-button {
        font-size: 10pt;
        padding: 2px;
        width: auto;
        border-radius: 4px;
    }
}

.traitdiv {
    height: 3em; 
    margin: 10px;
}

.traitfield {
    width: 100%;
    padding: 0.4em;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .big-button {
        width: 240px;
        margin: 10px 15px;
    }
}

.centered-array {
    margin:auto;
    text-align:center;
}

.centered {
    margin: auto;
    text-align: center;
}

.trait-desc {
    text-align: left;
    padding: 15px;
}

button:hover {
    background: linear-gradient(red, firebrick);
    cursor: pointer;
}

button:active {
    background: linear-gradient(red, darkred);
}

.titlebox, .headline {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: darkred;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 8px;
}

.headline {
    margin-top: 50px;
}

.titlebox {
    line-height: 1;
}

.title {
    font-size: 36pt;
    margin: 20px;
}

.subtitle {
    font-size: 22pt;
    margin: 20px;
}

.pool {
    background-color: snow;
    border-color: cyan;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    padding: 25px;
    margin: 15px 0px;
    min-height: 2em;
}

#class-gold-amount {
    font-size: 20pt;
}

.gold-pool {
    width: 50%;
    margin: 40px auto;
    font-size: 18pt;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    /* transform: scale(1.5); */
    margin: 10px;
    /* padding: 10px; */
    vertical-align: middle;
}

.shortform {
    display: none;
}

.tinyform {
    display: none;
}

@media screen and (max-width: 1100px) {
    #container {
        margin: auto;
    }

    body {
        background: white;
    }

    .side-image {
        margin: 20px;
    }
}

@media screen and (max-width: 720px) {
    #container {
        font-size: 12pt;
    }
    
    label {
        font-size: 12pt;
    }

    .editbox {
        font-size: 12pt;
        padding: 3px 5px;
        min-height: 5em;
    }

    .side-image {
        box-sizing: border-box; 
        width: 100%;
        margin: 10px;
    }

    .equipment-table {
        font-size: 12pt;
        padding: 2px;
    }

    .small-print {
        font-size: 10pt;
    }
}

@media screen and (max-width: 850px) {
    .shortform {
        display:inline;
    }

    .longform {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .editbox {
        font-size: 10pt;
        padding: 3px 3px;
    }

    #container {
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
    .tinyform {
        display:inline;
    }

    /* .fixed-and-break {
        table-layout: fixed;
        word-wrap: break-word;
    } */

    .midform {
        display: none;
    }

    #container {
        font-size: 10pt;
        padding: 10px;
    }

    .side-image {
        margin: 5px;
    }

    .stats-table {
        table-layout: auto;
        font-size: 10pt;
    }

    .equipment-table {
        font-size: 10pt;
    }
}