<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="staticweb/style.css">
  </head>
  <body>
    <div id="container">
      <header>

        <!--
        <div id="titlebar">
          <div id="titlebar-buttons-section">
            <span>HOME | MY CHARACTERS | SETTINGS</span>
          </div>

          <div id="titlebar-login-section">
            <span id="logged-in-text">Logged in as guest</span>
            <span> ( login | sign up )</span>
          </div>

          <br>
          <br>
        <div>
        -->

        <div class="titlebox">
          <h2 class="title">Dungeons &amp; Dragons</h2>
          <h3 class="subtitle">5th ed. Character Generator</h3>
        </div>
        <br>

        <h2> Create A New Character </h2>

      </header>
      <main>

        <!-- ABILITIES SECTION -->

        <section>
          <h2 class="headline">Ability Scores</h2>

          <p>
          Click the 'roll for abilities' button to assign random values 
          to your ability scores, or the 'assign standard array' to
          assign the standard array to your ability scores.
          </p>

          <div class="centered">
            <button class="big-button" id="abilities-roll-button">Roll For Abilities</button>
            <button class="big-button" id="abilities-array-button">Use Standard Array</button>
          </div>

          <p id="ability-drag-drop-instructions">
          Click and drag to rearrange your ability rolls, assigning them to your desired abilities:
          </p>

          <p id="ability-tap-swap-instructions" style="display: none">
          To assign ability rolls to your desired abilities, tap one roll to 
          select it and then another to swap it to that position:
          </p>

          <table class="stats-table">
            <thead>
              <tr>
                <th>
                  <span class="midform">Ability</span>
                  <span class="tinyform">Ab.</span>

                </th>
                <th><b>Roll</b></th>
                <th> <span class="longform">Racial Bonuses</span> <span class="shortform">+/-</span> </th>
                <th>Score</th>
                <th> <span class="longform">Ability Modifier</span> <span class="shortform">Mod</span></th>
              </tr>
            </thead>
            <tbody>
            {{#abilities}}
              <tr>
                <td> <span class="longform">{{abilityname}}</span> <span class="shortform">{{shortname}}</span> </td>
                <td><div class="rolled-score grabbable" id="{{abilityid}}" draggable="true">10</div></td>
                <td id="{{abilityid}}-bonus"> </td>
                <td id="{{abilityid}}-final"> </td>
                <td id="{{abilityid}}-modifier"> </td>
              </tr>
            {{/abilities}}
            </tbody>
          </table>

        </section>

        <!-- RACE SECTION -->

        <section>
          <h2 class="headline">Race</h2>

          <img src="staticimg/maleraces.png" alt="Image of Races" class="side-image" />

          <select id="race-dropdown" class="">
            {{#racechoices}}
              <option value="{{raceval}}">{{racename}}</option>
            {{/racechoices}}
          </select>

          {{#racedivs}}
          <div style="display: none" id="racediv-{{name}}">
            {{{html}}}
          </div>
          {{/racedivs}}

          <table style="display: none" id="dragonborn-table">
            <caption>Draconic Bloodline</caption>
            <thead>
              <tr>
                <th>Dragon Type</th>
                <th>Damage Type</th>
                <th>Breath Weapon</th>
              </tr>
            </thead>
            <tbody>
              {{#dragondata}}
                  <tr>
                    <td>
                      <input type="radio" id="{{dragon}}-dragonborn-ancestry" name="dragonborn-ancestry" value="{{dragon}}" class="trigger-model-update-onchange">
                      <label for="{{dragon}}-dragonborn-ancestry">{{dragonname}}</label>
                    </td>
                    <td>{{damage}}</td>
                    <td>{{breath}}</td>
                  </tr>
              {{/dragondata}}
            </tbody>
          </table>

          <div id="bonus-choice-dropdowns" style="display: none" class="centered"> 
            <h4> Racial Ability Bonuses </h4>

            <p id="half-elf-bonus-text"> 
              As a half elf, you gain +1 to your charisma, 
              and +1 to two other abilities of your choice. 
            </p>

            <p id="variant-human-bonus-text">
              As a variant human, you gain +1 to two
              abilities of your choice.
            </p>

            <select id="bonus-choice1">
              {{#abilities}}
                <option value="{{abilityid}}">{{abilityname}}</option>
              {{/abilities}}
            </select>
            <select id="bonus-choice2">
              {{#abilities}}
                <option value="{{abilityid}}">{{abilityname}}</option>
              {{/abilities}}
            </select>
          </div>

          <div class="clear"></div>
        </section>

        <!-- CLASS SECTION -->

        <section>
          <h2 class="headline">Class</h2>

          <img src="staticimg/chars.png" alt="Image of Various Adventurers" class="side-image" />

          <select id="class-dropdown">
            {{#classes}}
              <option value="{{name}}">{{fullname}}</option>
            {{/classes}}
          </select>

          {{#classes}}
          <div style="display: none" id="classdiv-{{name}}">
            {{{html}}}
          </div>
          {{/classes}}

          <div id="sorcerous-origin-dropdown-div" class="centered"> 
            <h3> Sorcerous Origin </h3>
            <select id="sorcerous-origin-dropdown">
              <option value="wild-magic">Wild Magic</option>
              <option value="draconic-ancestry">Draconic Ancestry</option>
            </select>
          </div>

          <div id="sorcerer-wild-div">
            {{{sorcererWildView}}}
          </div>

          <div id="sorcerer-draconic-div">
            {{{sorcererDraconicView}}}
          </div>


          <table style="display: none" id="sorcerous-origin-table">
            <caption>Draconic Ancestry</caption>
            <thead>
              <tr>
                <th>Dragon Type</th>
                <th>Damage Type</th>
              </tr>
            </thead>
            <tbody>
              {{#dragondata}}
                  <tr>
                    <td>
                      <input type="radio" id="{{dragon}}-origin-dragontype" name="origin-dragontype" value="{{dragon}}" class="trigger-model-update-onchange">
                      <label for="{{dragon}}-sorcerous-origin">{{dragonname}}</label>
                    </td>
                    <td>{{damage}}</td>
                  </tr>
              {{/dragondata}}
            </tbody>
          </table>

          <table style="display: none" id="fighting-style-table">
            <caption>Fighting Style</caption>
            <thead>
              <tr>
                <th>Style</th>
                <th>Benefits</th>
              </tr>
            </thead>
            <tbody>
              {{#fightingstyles}}
                  <tr>
                    <td>
                      <input type="radio" id="{{name}}-fighting-style" name="fighting-style" value="{{name}}" class="trigger-model-update-onchange">
                      <label for="{{name}}-fighting-style">{{fullname}}</label>
                    </td>
                    <td>{{benefit}}</td>
                  </tr>
              {{/fightingstyles}}
            </tbody>
          </table>

          <div style="display: none" id="divine-domains">
            <div class="centered">
              <h3>Divine Domain</h3>
              <select id="domain-dropdown">
                {{#divinedomains}}
                  <option value="{{name}}">{{fullname}}</option>
                {{/divinedomains}}
              </select>
            </div>

            {{#divinedomains}}
              <div style="display: none" id="domaindiv-{{name}}">
                {{{html}}}
              </div>
            {{/divinedomains}}
          </div>

          <div style="display: none" id="warlock-patrons">
            <div class="centered">
              <h3>Otherworldy Patron</h3>
              <select id="patron-dropdown">
                {{#warlockpatrons}}
                  <option value="{{name}}">{{fullname}}</option>
                {{/warlockpatrons}}
              </select>
            </div>

            {{#warlockpatrons}}
              <div style="display: none" id="patrondiv-{{name}}">
                {{{html}}}
              </div>
            {{/warlockpatrons}}
          </div>

          <div class="centered" style="display: none" id="expertise-div">
            <h3>Expertise</h3>
            <p>
            Select two skills you will be taking, or thieves tools and a skill.
            </p>
            <select id="expertise-dropdown1" class="trigger-model-update-onchange">
              {{#expertiseskills}}
                <option value="{{name}}">{{fullname}}</option>
              {{/expertiseskills}}
            </select>
            <select id="expertise-dropdown2" class="trigger-model-update-onchange">
              {{#expertiseskills}}
                <option value="{{name}}">{{fullname}}</option>
              {{/expertiseskills}}
            </select>
          </div>

          <div class="clear"></div>
          <br>

          <div style="display: none" id="ranger-favor-div">
            <h3 class="centered">Favored Enemies and Terrain</h3>

            <p>
            Select one favored type of enemy, and one favored terrain type.
            If you choose Humanoids for your favored enemy, you must choose two
            races of humanoid for your favored enemy benefits to apply to.
            </p>

            <div class="centered two-column">
              <div class="two-column-section">
                <h4>Favored Enemy</h4>
                <select id="favored-enemy-dropdown">
                  {{#rangerEnemies}}
                    <option value="{{keyname}}">{{fullname}}</option>
                  {{/rangerEnemies}}
                </select>
              </div>
              <div>
                <h4>Favored Terrain</h4>
                <select id="favored-terrain-dropdown">
                  {{#rangerTerrains}}
                    <option value="{{keyname}}">{{fullname}}</option>
                  {{/rangerTerrains}}
                </select>
              </div>
            </div>

            <div class="clear"></div>

            <div id="ranger-humanoids-div" style="display: none">
              <br>
              <h4 class="centered">Favored Humanoid Enemies:</h4>
              <div class="centered two-column">
                <div class="two-column-section">
                  <select id="humanoid-dropdown1">
                    {{#rangerHumanoids}}
                      <option value="{{keyname}}">{{fullname}}</option>
                    {{/rangerHumanoids}}
                  </select>
                </div>
                <div class="two-column-section">
                  <select id="humanoid-dropdown2">
                    {{#rangerHumanoids}}
                      <option value="{{keyname}}">{{fullname}}</option>
                    {{/rangerHumanoids}}
                  </select>
                </div>
              </div>
            </div>

            <div class="clear"></div>

            <div id="ranger-language-div" class="centered">
              <h4>Favored Enemy Language</h4>
              <select id="ranger-language-dropdown" class="trigger-model-update-onchange">
              </select>
              <p id="ranger-language-none-text" style="display: none">
                <i>There are no languages available for that favored enemy selection.</i>
              </p>
            </div>
          </div>

          <div class="clear"></div>
        </section>

        <!-- BACKGROUND SECTION -->

        <section>
          <h2 class="headline">Background</h2>

          <img src="staticimg/resting2.jpg" alt="Image of Adventurers Gathered Around Fire" class="side-image" />

          <select id="background-dropdown">
            {{#backgrounds}}
              <option value="{{name}}">{{fullname}}</option>
            {{/backgrounds}}
          </select>


          {{#backgrounds}}
            <div style="display: none" id="backgrounddiv-{{name}}">
              <h3>{{fullname}}</h3>
              {{{html}}}

              <ul>
                <li><b>Skills: </b>{{skills}}</li>
                <li><b>Tool Proficiencies: </b>{{tools}}</li>
                {{#languages}}
                  <li><b>Languages: </b>{{.}}</li>
                {{/languages}}
              </ul>

              <h3>Feature: {{featurename}}</h3>
              {{{featurehtml}}}
            </div>
          {{/backgrounds}}

          {{#backgroundVariantFeatures}}
            <div class="pool background-variant-div" style="display: none" id="variant-feature-{{name}}">
              <h4>Variant Feature: {{title}}</h4>
              {{{html}}}
              <input type="checkbox" id="variant-feature-checkbox-{{name}}" class="bg-variant-checkbox trigger-model-update-onchange">
              <label for="variant-feature-checkbox-{{name}}">Use This Variant Feature</label>
            </div>
          {{/backgroundVariantFeatures}}

          {{#backgroundVariants}}
            <div class="pool background-variant-div" style="display: none" id="variant-background-{{name}}">
              <h4>Background Variant: {{title}}</h4>
              {{{html}}}
              <input type="checkbox" id="variant-background-checkbox-{{name}}" class="bg-variant-checkbox trigger-model-update-onchange">
              <label for="variant-background-checkbox-{{name}}">Use This Background Variant</label>
            </div>
          {{/backgroundVariants}}

          <div class="clear"></div>

          <div class="centered">

            <!-- background specific trait, e.g. favorite scam, guild business, etc -->

            {{! <div class="editbox" contenteditable="true"></div> }}

            {{#backgroundSubtypes}}
              <div class="background-subtype-div" style="display: none" id="background-subtype-{{name}}">
                <h3>{{title}}</h3>
                <p class="trait-desc">
                  {{desc}}
                </p>
              </div>
            {{/backgroundSubtypes}}

            <div class="traitdiv" style="display: none" id="background-subtype-entry-div">
              {{! <textarea rows="4" id="background-subtype-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox smaller-editbox trigger-model-update-onblur" id="background-subtype-text"></div>
              <button class="trait-button" id="background-subtype-button">Suggestion</button>
            </div>
            <div class="clear"></div>

            <!-- personality traits -->

            <br>
            <h3>Personality Traits, Ideal, Bond and Flaw</h3>

            <p class="trait-desc">
            <b>Traits: </b>
            Come up with two personality traits for your character,
            or use a random suggestion from your background.
            Personality traits are small, simple ways to help you set your
            character apart from every other character.
            </p>
            <div class="traitdiv">
              {{! <textarea rows="4" id="personality-trait-one-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox trigger-model-update-onblur" id="personality-trait-one-text"></div>
              <button class="trait-button" id="personality-trait-one-button">Suggestion</button>
            </div>
            <div class="clear"></div>
            <div class="traitdiv">
              {{! <textarea rows="4" id="personality-trait-two-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox trigger-model-update-onblur" id="personality-trait-two-text"></div>
              <button class="trait-button" id="personality-trait-two-button">Suggestion</button>
            </div>
            <div class="clear"></div>

            <!-- ideal -->

            <p class="trait-desc">
              <b>Ideal: </b>
              Describe an ideal that drives your character, or use a random suggestion from your background.
              Your ideals are the things that you believe in most strongly, the
              fundamental moral and ethical principles that compel you to act as you do.
            </p>
            <div class="traitdiv">
              {{! <textarea rows="4" id="ideal-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox trigger-model-update-onblur" id="ideal-text"></div>
              <button class="trait-button" id="ideal-button">Suggestion</button>
            </div>
            <div class="clear"></div>
            
            <!-- bond -->

            <p class="trait-desc">
              <b>Bond: </b>
              Create one bond for your character, or use a random suggestion from your background. 
              Bonds represent a character's connections to people, places, and events in
              the world. 
            </p>
            <div class="traitdiv">
              {{! <textarea rows="4" id="bond-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox trigger-model-update-onblur" id="bond-text"></div>
              <button class="trait-button" id="bond-button">Suggestion</button>
            </div>
            <div class="clear"></div>

            <!-- flaw -->

            <p class="trait-desc">
              <b>Flaw: </b> 
              Choose a flaw for your character, or use a random suggestion
              from your background. Your character's flaw represents some vice, 
              compulsion, fear, or weakness.
            </p>
            <div class="traitdiv">
              {{! <textarea rows="4" id="flaw-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox trigger-model-update-onblur" id="flaw-text"></div>
              <button class="trait-button" id="flaw-button">Suggestion</button>
            </div>
            <div class="clear"></div>
          </div>

        </section>

        <!-- PROFICIENCIES SECTION -->

        <section>
          <h2 class="headline">Proficiencies</h2>
          <ul class="two-column">
            {{#profSources}}
              <li class="{{sourcekey}}-prof-source-div prof-source-div two-column">
                <h4> {{title}} </h4>
                <ul>
                  {{#list}}
                    <li>{{.}}</li>
                  {{/list}}
                </ul>
                {{#dropdowns}}
                  <select class="{{sourcekey}}-prof-dropdown trigger-model-update-onchange">
                    {{#dropdownitems}}
                      <option value={{choicekey}}>{{choicename}}</option>
                    {{/dropdownitems}}
                  </select>
                {{/dropdowns}}
              </li>
            {{/profSources}}
          </ul>

          <div class="clear"></div>
        </section>

        <!-- LANGUAGES SECTION -->

        <section>
          <h2 class="headline">Languages</h2>

          <ul id="languages-list" class="two-column">
          </ul>

          <div class="clear"></div>
        </section>

        <!-- SPELLS SECTION -->

        <section id="spells-section">
          <h2 class="headline">Spellcasting</h2>

          <ul class="two-column">

            <!-- Cantrips -->
            <li id="cantrips-div" class="two-column">
              <b>Cantrips Known</b>
              <div id="cantrips-list">
              </div>
            </li>

            <!-- 1st level spells -->
            <li id="spells-known-div" class="two-column">
              <b>Spells Known</b>
              <div id="spells-known-list">
              </div>
            </li>

            <li id="prepared-spells-div" class="two-column">
              <b>Prepared Spells: </b>
              <span id="prepared-spell-text"></span>
            </li>

            <!-- Feature Cantrips -->
            {{#featureCantrips}}
            <li id="feature-cantrip-{{name}}" class="two-column feature-cantrip">
              <b>{{fullname}}: </b>
              {{desc}}
            </li>
            {{/featureCantrips}}


            <!-- elf cantrip -->
            <li id="elf-cantrip-div" class="two-column">
              <b>Elf Cantrip: </b>
              <p>As a high elf, you gain a cantrip from the Wizard cantrip list. Intelligence is your spellcasting ability for it.</p>
              <select id="elf-cantrip-dropdown" class="trigger-model-update-onchange">
              {{#wizardCantrips}}
                <option value="{{keyname}}">{{fullname}}</option>
              {{/wizardCantrips}}
              </select>
            </li>

            <!-- acolyte of nature -->
            <li id="acolyte-of-nature-div" class="two-column">
              <b>Acolyte Of Nature Cantrip: </b>
              You learn a cantrip from the druid cantrip list.
              <select id="acolyte-cantrip-dropdown" class="trigger-model-update-onchange">
              {{#druidCantrips}}
                <option value="{{keyname}}">{{fullname}}</option>
              {{/druidCantrips}}
              </select>
            </li>
          </ul>

          <div class="clear"></div> 
        </section>

        <!-- EQUIPMENT SECTION -->

        <section>
          <h2 class="headline">Equipment</h2>

          <br>
          <div id="class-gold-amount" class="centered">
            <b> <span id="starting-gold-class-label"></span> Starting Gold: </b>
            <span id="amount-gold-text"></span>
          </div>
          <br>

          <div class="centered">
            <button class="big-button" id="gold-roll-button">Roll For Gold</button>
            <button class="big-button" id="gold-avg-button">Take Average</button>
          </div>

          <div class="pool gold-pool"> 
            <b> Initial Gold: </b> 
            <span id="initial-gold-tracker"></span>
            <br>
            <b> Gold Spent: </b> 
            <span id="spent-gold-tracker"></span>
            <br>
            <b> Current Gold: </b> 
            <span id="current-gold-tracker"></span>
          </div>

          <h3 class="centered"> Purchase Equipment </h3>

          <div id="select-equipment-category-div">
            <b>Select Equipment Category: </b>
            <select id="equipment-dropdown">
              {{#weapons}}
                <option value="{{category}}">{{categoryFullname}}</option>
              {{/weapons}}

              <option value="armor">Armor and Shields</option>
              <option value="packs">Adventurers Packs</option>

              {{#items}}
                <option value="{{category}}">{{categoryFullname}}</option>
              {{/items}}
            </select>
          </div>

          <div class="clear"></div>

          {{#weapons}}
            <div id="buy-{{category}}-table" class="table-overflow-container equipment-table-div">
              <table class="equipment-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>
                      <span class="longform">Damage</span>
                      <span class="shortform">Dam</span>
                    </th>
                    <th>
                      <span class="longform">Weight</span>
                      <span class="shortform">Wt</span>
                    </th>
                    <th>
                      <span class="longform">Properties</span>
                      <span class="shortform">Prop</span>
                    </th>
                    <th class="buy-header"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#list}}
                    <tr>
                      <td>{{fullname}}</td>
                      <td>{{cost}}</td>
                      <td>{{damage}}</td>
                      <td>{{weight}}</td>
                      <td>{{properties}}</td>
                      <td>
                        <button class="buy-button table-button" id="{{keyname}}-buy-button">Buy</button>
                      </td>
                    </tr>
                  {{/list}}
                </tbody>
              </table>
            </div>
          {{/weapons}}

          <table id="buy-armor-table" class="equipment-table equipment-table-div">
            <thead>
              <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>
                  <span class="midform">Armor Class</span>
                  <span class="tinyform">AC</span>
                </th>
                <th>
                  <span class="midform">Weight</span>
                  <span class="tinyform">Wt.</span>
                </th>
                <th class="buy-header"></th>
              </tr>
            </thead>
            <tbody>
              {{#armors}}
                <tr>
                  <td>{{fullname}}</td>
                  <td>{{cost}}</td>
                  <td>{{desc}}</td>
                  <td>{{weight}}</td>
                  <td>
                    <button class="buy-button table-button" id="{{keyname}}-buy-button">Buy</button>
                  </td>
                </tr>
              {{/armors}}
            </tbody>
          </table>

          <div id="buy-packs-table" class="table-overflow-container equipment-table-div">
            <table class="equipment-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Contents</th>
                  <th>Cost</th>
                  <th>
                    <span class="midform">Weight</span>
                    <span class="tinyform">Wt.</span>
                  </th>
                  <th class="buy-header"></th>
                </tr>
              </thead>
              <tbody>
                {{#packs}}
                  <tr>
                    <td>{{fullname}}</td>
                    <td class="pack-description-cell">{{desc}}</td>
                    <td>{{cost}}</td>
                    <td>{{weight}}</td>
                    <td>
                      <button class="buy-button table-button" id="{{keyname}}-buy-button">Buy</button>
                    </td>
                  </tr>
                {{/packs}}
              </tbody>
            </table>
          </div>

          {{#items}}
          <table id="buy-{{category}}-table" class="equipment-table item-table equipment-table-div">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Cost</th>
                  <th>Weight</th>
                  <th class="buy-header">Buy</th>
                </tr>
              </thead>
              <tbody>
                {{#list}}
                  <tr>
                    <td>{{fullname}}</td>
                    <td>{{cost}}</td>
                    <td>{{weight}}</td>
                    <td>
                      <button class="buy-button table-button" id="{{keyname}}-buy-button">Buy</button>
                    </td>
                  </tr>
                {{/list}}
              </tbody>
            </table>
          {{/items}}

          <div id="armor-small-print" class="small-print">
            <i>Armors marked with (D/S) cause Disadvantage on stealth checks</i>
          </div>

          <div class="clear"></div>

          <br>
          <br>
          <h3 class="centered">Your Inventory</h3>

          <div id="no-inventory-div" class="centered">
            <br>
            <i> You have not purchased any items yet. </i>
          </div>

          <br>

          <table id="inventory-table" class="equipment-table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Cost</th>
                <th>Weight</th>
                <th>Qty</th>
                <th class="remove-header"></th>
              </tr>
            </thead>
            <tbody id="inventory-table-body">
            </tbody>
          </table>

          <div id="remove-all-button-div" class="centered">
            <button class="med-button" id="remove-all-button">Remove all</button>
          </div>

          <div class="clear"></div>

          <div id="inventory-totals-div">
            <b>Total Weight: </b><span id="total-weight-tracker"></span><br>
            <b>Total Cost: </b><span id="total-cost-tracker"></span><br>
            <b>Gold Remaining: </b><span id="gold-remaining-tracker"></span><br>
          </div>

          <div class="clear"></div>

          <br>
          <h3 class="centered">Trinket</h3>
          Your character may also have a random trinket, a simple item lightly touched by mystery.
          <div id="trinket-div" class="pool"></div>
          <button class="trait-button" id="trinket-button">Roll for Trinket</button>

          <div class="clear"></div>
        </section>

        <!-- DESCRIPTION SECTION -->

        <section>
          <h2 class="headline">Description</h2>

          <div class="two-column">
            <div class="two-column-section description-section-item">
              <h5>Character Name:</h5>
              <input type="text" id="character-name-field" class="trigger-model-update-onchange">
            </div>
            <div class="two-column-section description-section-item" >
              <h5>Age, Sex, and Appearance:</h5>
              <input type="text" id="appearance-field" class="trigger-model-update-onchange">
            </div>
            <div class="two-column-section description-section-item">
              <h5>Alignment:</h5>
              <select id="alignment-dropdown" class="trigger-model-update-onchange">
                <option value="lawful-good">Lawful Good</option>
                <option value="lawful-neutral">Lawful Neutral</option>
                <option value="lawful-evil">Lawful Evil</option>
                <option value="neutral-good">Neutral Good</option>
                <option value="true-neutral">True Neutral</option>
                <option value="neutral-evil">Neutral Evil</option>
                <option value="chaotic-good">Chaotic Good</option>
                <option value="chaotic-neutral">Chaotic Neutral</option>
                <option value="chaotic-evil">Chaotic Evil</option>
              </select>
            </div>
          </div>
        </section>

        <div class="clear"></div> 

        <!-- SUMMARY SECTION -->

        <section>
          <h2 class="headline">Summary</h2>
          <div id="summary-div">
          </div>
          <div class="clear"></div>
        </section>
      </main>
      <footer>

      </footer>
    </div>

    <script type="text/javascript" src="staticweb/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="staticweb/index.js"></script>

  </body>
</html>