<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="container">
      <header>

        <div id="titlebar">
          <div id="titlebar-buttons-section">
            <span>HOME | MY CHARACTERS | SETTINGS</span>
          </div>

          <div id="titlebar-login-section">
            <span id="logged-in-text">Logged in as guest</span>
            <span> ( login | sign up )</span>
          </div>

          <br>
          <br>
        <div>

        <div class="titlebox">
          <h2 class="title">Dungeons &amp; Dragons</h2>
          <h3 class="subtitle">5th ed. Character Generator</h3>
        </div>
        <br>

        <h2> Create A New Character </h2>

      </header>
      <main>

        <!-- ABILITIES SECTION -->

        <section>
          <h2 class="headline">Ability Scores</h2>

          <p>
          Click the 'roll for abilities' button to assign random values 
          to your ability scores, or the 'assign standard array' to
          assign the standard array to your ability scores.
          </p>

          <div class="buttons-array">
            <button id="abilities-roll-button">Roll For Abilities</button>
            <button id="abilities-array-button">Use Standard Array</button>
          </div>

          <p id="ability-drag-drop-instructions">
          Click and drag to rearrange your ability rolls, assigning them to your desired abilities:
          </p>

          <p id="ability-tap-swap-instructions" style="display: none">
          To assign ability rolls to your desired abilities, tap one roll to 
          select it and then another to swap it to that position:
          </p>

          <table class="stats-table">
            <thead>
              <tr>
                <th>Ability</th>
                <th><b>Roll</b></th>
                <th>Racial Bonuses</th>
                <th>Score</th>
                <th>Ability Modifier</th>
              </tr>
            </thead>
            <tbody>
            {{#abilities}}
              <tr>
                <td>{{abilityname}}</td>
                <td><div class="rolled-score grabbable" id="{{abilityid}}" draggable="true">10</div></td>
                <td id="{{abilityid}}-bonus"> </td>
                <td id="{{abilityid}}-final"> </td>
                <td id="{{abilityid}}-modifier"> </td>
              </tr>
            {{/abilities}}
            </tbody>
          </table>


        </section>

        <!-- RACE SECTION -->

        <section>
          <h2 class="headline">Race</h2>

          <img src="img/maleraces.png" alt="Image of Races" class="side-image" />

          <select id="race-dropdown" class="">
            {{#racechoices}}
              <option value="{{raceval}}">{{racename}}</option>
            {{/racechoices}}
          </select>

          {{#racedivs}}
          <div style="display: none" id="racediv-{{name}}">
            {{{html}}}
          </div>
          {{/racedivs}}

          <table style="display: none" id="dragonborn-table">
            <caption>Draconic Bloodline</caption>
            <thead>
              <tr>
                <th>Dragon Type</th>
                <th>Damage Type</th>
                <th>Breath Weapon</th>
              </tr>
            </thead>
            <tbody>
              {{#dragonborntable}}
                  <tr>
                    <td class="table-radio">
                      <input type="radio" id="{{dragon}}-dragonborn-ancestry" name="dragonborn-ancestry" value="{{dragon}}">
                      <label for="{{dragon}}-dragonborn-ancestry">{{dragonname}}</label>
                    </td>
                    <td>{{damage}}</td>
                    <td>{{breath}}</td>
                  </tr>
              {{/dragonborntable}}
            </tbody>
          </table>

          <div id="bonus-choice-dropdowns" style="display: none" class="centered"> 
            <h4> Racial Ability Bonuses </h4>

            <p id="half-elf-bonus-text"> 
              As a half elf, you gain +1 to your charisma, 
              and +1 to two other abilities of your choice. 
            </p>

            <p id="variant-human-bonus-text">
              As a variant human, you gain +1 to two
              abilities of your choice.
            </p>

            <select id="bonus-choice-primary">
              {{#abilities}}
                <option value="{{abilityid}}">{{abilityname}}</option>
              {{/abilities}}
            </select>
            <select id="bonus-choice-secondary">
              {{#abilities}}
                <option value="{{abilityid}}">{{abilityname}}</option>
              {{/abilities}}
            </select>
          </div>

          <div class="clear"></div>
        </section>

        <!-- CLASS SECTION -->

        <section>
          <h2 class="headline">Class</h2>

          <img src="img/chars.png" alt="Image of Various Adventurers" class="side-image" />

          <select id="class-dropdown">
            {{#classes}}
              <option value="{{name}}">{{fullname}}</option>
            {{/classes}}
          </select>

          {{#classes}}
          <div style="display: none" id="classdiv-{{name}}">
            {{{html}}}
          </div>
          {{/classes}}

          <table style="display: none" id="sorcerous-origin-table">
            <caption>Sorcerous Origin</caption>
            <thead>
              <tr>
                <th>Dragon Type</th>
                <th>Damage Type</th>
              </tr>
            </thead>
            <tbody>
              {{#dragonborntable}}
                  <tr>
                    <td class="table-radio">
                      <input type="radio" id="{{dragon}}-sorcerous-origin" name="sorcerous-origin" value="{{dragon}}">
                      <label for="{{dragon}}-sorcerous-origin">{{dragonname}}</label>
                    </td>
                    <td>{{damage}}</td>
                  </tr>
              {{/dragonborntable}}
            </tbody>
          </table>

          <div class="clear"></div>
        </section>

        <!-- BACKGROUND SECTION -->

        <section>
          <h2 class="headline">Background</h2>
        </section>

        <section>
          <h2 class="headline">Skills</h2>
          <div class="check-boxes">
            {{#skills}}
              <input type="checkbox" id="{{skillchoice}}" name="skills" value="{{skillval}}"><label for="{{skillchoice}}">{{skillname}}</label><br>
            {{/skills}}
          </div>
        </section>

        <!-- DESCRIPTION SECTION -->

        <section>
          <h2 class="headline">Description</h2>
        </section>

        <!-- SUMMARY SECTION -->

        <section>
          <h2 class="headline">Summary</h2>
        </section>
      </main>
      <footer>

      </footer>
    </div>

    <script type="text/javascript" src="static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/index.js"></script>

  </body>
</html>