<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="container">
      <header>

        <div id="titlebar">
          <div id="titlebar-buttons-section">
            <span>HOME | MY CHARACTERS | SETTINGS</span>
          </div>

          <div id="titlebar-login-section">
            <span id="logged-in-text">Logged in as guest</span>
            <span> ( login | sign up )</span>
          </div>

          <br>
          <br>
        <div>

        <div class="titlebox">
          <h2 class="title">Dungeons &amp; Dragons</h2>
          <h3 class="subtitle">5th ed. Character Generator</h3>
        </div>
        <br>

        <h2> Create A New Character </h2>

      </header>
      <main>

        <!-- ABILITIES SECTION -->

        <section>
          <h2 class="headline">Ability Scores</h2>

          <p>
          Click the 'roll for abilities' button to assign random values 
          to your ability scores, or the 'assign standard array' to
          assign the standard array to your ability scores.
          </p>

          <div class="buttons-array">
            <button class="big-button" id="abilities-roll-button">Roll For Abilities</button>
            <button class="big-button" id="abilities-array-button">Use Standard Array</button>
          </div>

          <p id="ability-drag-drop-instructions">
          Click and drag to rearrange your ability rolls, assigning them to your desired abilities:
          </p>

          <p id="ability-tap-swap-instructions" style="display: none">
          To assign ability rolls to your desired abilities, tap one roll to 
          select it and then another to swap it to that position:
          </p>

          <table class="stats-table">
            <thead>
              <tr>
                <th><span class="longform">Ability</span><span class="shortform">Ab.</span></th>
                <th><b>Roll</b></th>
                <th> <span class="longform">Racial Bonuses</span> <span class="shortform">+/-</span> </th>
                <th>Score</th>
                <th> <span class="longform">Ability Modifier</span> <span class="shortform">Mod</span></th>
              </tr>
            </thead>
            <tbody>
            {{#abilities}}
              <tr>
                <td> <span class="longform">{{abilityname}}</span> <span class="shortform">{{shortname}}</span> </td>
                <td><div class="rolled-score grabbable" id="{{abilityid}}" draggable="true">10</div></td>
                <td id="{{abilityid}}-bonus"> </td>
                <td id="{{abilityid}}-final"> </td>
                <td id="{{abilityid}}-modifier"> </td>
              </tr>
            {{/abilities}}
            </tbody>
          </table>

        </section>

        <!-- RACE SECTION -->

        <section>
          <h2 class="headline">Race</h2>

          <img src="img/maleraces.png" alt="Image of Races" class="side-image" />

          <select id="race-dropdown" class="">
            {{#racechoices}}
              <option value="{{raceval}}">{{racename}}</option>
            {{/racechoices}}
          </select>

          {{#racedivs}}
          <div style="display: none" id="racediv-{{name}}">
            {{{html}}}
          </div>
          {{/racedivs}}

          <table style="display: none" id="dragonborn-table">
            <caption>Draconic Bloodline</caption>
            <thead>
              <tr>
                <th>Dragon Type</th>
                <th>Damage Type</th>
                <th>Breath Weapon</th>
              </tr>
            </thead>
            <tbody>
              {{#dragondata}}
                  <tr>
                    <td>
                      <input type="radio" id="{{dragon}}-dragonborn-ancestry" name="dragonborn-ancestry" value="{{dragon}}">
                      <label for="{{dragon}}-dragonborn-ancestry">{{dragonname}}</label>
                    </td>
                    <td>{{damage}}</td>
                    <td>{{breath}}</td>
                  </tr>
              {{/dragondata}}
            </tbody>
          </table>

          <div id="bonus-choice-dropdowns" style="display: none" class="centered"> 
            <h4> Racial Ability Bonuses </h4>

            <p id="half-elf-bonus-text"> 
              As a half elf, you gain +1 to your charisma, 
              and +1 to two other abilities of your choice. 
            </p>

            <p id="variant-human-bonus-text">
              As a variant human, you gain +1 to two
              abilities of your choice.
            </p>

            <select id="bonus-choice-primary">
              {{#abilities}}
                <option value="{{abilityid}}">{{abilityname}}</option>
              {{/abilities}}
            </select>
            <select id="bonus-choice-secondary">
              {{#abilities}}
                <option value="{{abilityid}}">{{abilityname}}</option>
              {{/abilities}}
            </select>
          </div>

          <div class="clear"></div>
        </section>

        <!-- CLASS SECTION -->

        <section>
          <h2 class="headline">Class</h2>

          <img src="img/chars.png" alt="Image of Various Adventurers" class="side-image" />

          <select id="class-dropdown">
            {{#classes}}
              <option value="{{name}}">{{fullname}}</option>
            {{/classes}}
          </select>

          {{#classes}}
          <div style="display: none" id="classdiv-{{name}}">
            {{{html}}}
          </div>
          {{/classes}}

          <div id="sorcerous-origin-dropdown-div" class="centered"> 
            <h3> Sorcerous Origin </h3>
            <select id="sorcerous-origin-dropdown">
              <option value="origin-wild-magic">Wild Magic</option>
              <option value="origin-draconic">Draconic Ancestry</option>
            </select>
          </div>

          <table style="display: none" id="sorcerous-origin-table">
            <caption>Draconic Ancestry</caption>
            <thead>
              <tr>
                <th>Dragon Type</th>
                <th>Damage Type</th>
              </tr>
            </thead>
            <tbody>
              {{#dragondata}}
                  <tr>
                    <td>
                      <input type="radio" id="{{dragon}}-sorcerous-origin" name="sorcerous-origin" value="{{dragon}}">
                      <label for="{{dragon}}-sorcerous-origin">{{dragonname}}</label>
                    </td>
                    <td>{{damage}}</td>
                  </tr>
              {{/dragondata}}
            </tbody>
          </table>

          <table style="display: none" id="fighting-style-table">
            <caption>Fighting Style</caption>
            <thead>
              <tr>
                <th>Style</th>
                <th>Benefits</th>
              </tr>
            </thead>
            <tbody>
              {{#fightingstyles}}
                  <tr>
                    <td>
                      <input type="radio" id="{{name}}-fighting-style" name="sorcerous-origin" value="{{name}}">
                      <label for="{{name}}-fighting-style">{{fullname}}</label>
                    </td>
                    <td>{{benefit}}</td>
                  </tr>
              {{/fightingstyles}}
            </tbody>
          </table>

          <div style="display: none" id="divine-domains">
            <div class="centered">
              <h3>Divine Domain</h3>
              <select id="domain-dropdown">
                {{#divinedomains}}
                  <option value="{{name}}">{{fullname}}</option>
                {{/divinedomains}}
              </select>
            </div>

            {{#divinedomains}}
              <div style="display: none" id="domaindiv-{{name}}">
                {{{html}}}
              </div>
            {{/divinedomains}}
          </div>

          <div style="display: none" id="warlock-patrons">
            <div class="centered">
              <h3>Otherworldy Patron</h3>
              <select id="patron-dropdown">
                {{#warlockpatrons}}
                  <option value="{{name}}">{{fullname}}</option>
                {{/warlockpatrons}}
              </select>
            </div>

            {{#warlockpatrons}}
              <div style="display: none" id="patrondiv-{{name}}">
                {{{html}}}
              </div>
            {{/warlockpatrons}}
          </div>

          <div class="clear"></div>
        </section>

        <!-- BACKGROUND SECTION -->

        <section>
          <h2 class="headline">Background</h2>

          <img src="img/resting2.jpg" alt="Image of Adventurers Gathered Around Fire" class="side-image" />

          <select id="background-dropdown">
            {{#backgrounds}}
              <option value="{{name}}">{{fullname}}</option>
            {{/backgrounds}}
          </select>


          {{#backgrounds}}
            <div style="display: none" id="backgrounddiv-{{name}}">
              <h3>{{fullname}}</h3>
              {{{html}}}

              <ul>
                <li><b>Skills: </b>{{skills}}</li>
                <li><b>Tool Proficiencies: </b>{{tools}}</li>
                {{#languages}}
                  <li><b>Languages: </b>{{.}}</li>
                {{/languages}}
              </ul>

              <h3>Feature: {{featurename}}</h3>
              {{{featurehtml}}}
            </div>
          {{/backgrounds}}

          {{#backgroundVariantFeatures}}
            <div class="pool background-variant-div" style="display: none" id="variant-feature-{{name}}">
              <h4>Variant Feature: {{title}}</h4>
              {{{html}}}
              <input type="checkbox" id="variant-feature-checkbox-{{name}}">
              <label for="variant-feature-checkbox-{{name}}">Use This Variant Feature</label>
            </div>
          {{/backgroundVariantFeatures}}

          {{#backgroundVariants}}
            <div class="pool background-variant-div" style="display: none" id="variant-background-{{name}}">
              <h4>Background Variant: {{title}}</h4>
              {{{html}}}
              <input type="checkbox" id="variant-background-checkbox-{{name}}">
              <label for="variant-background-checkbox-{{name}}">Use This Background Variant</label>
            </div>
          {{/backgroundVariants}}

          <div class="clear"></div>

          <div class="centered">

            <!-- background specific trait, e.g. favorite scam, guild business, etc -->

            {{! <div class="editbox" contenteditable="true"></div> }}

            {{#backgroundSubtypes}}
              <div class="background-subtype-div" style="display: none" id="background-subtype-{{name}}">
                <h3>{{title}}</h3>
                <p class="trait-desc">
                  {{desc}}
                </p>
              </div>
            {{/backgroundSubtypes}}

            <div class="traitdiv" style="display: none" id="background-subtype-entry-div">
              {{! <textarea rows="4" id="background-subtype-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox smaller-editbox" id="background-subtype-text"></div>
              <button class="trait-button" id="background-subtype-button">Suggestion</button>
            </div>
            <div class="clear"></div>

            <!-- personality traits -->

            <br>
            <h3>Personality Traits, Ideal, Bond and Flaw</h3>

            <p class="trait-desc">
            <b>Traits: </b>
            Come up with two personality traits for your character,
            or use a random suggestion from your background.
            Personality traits are small, simple ways to help you set your
            character apart from every other character.
            </p>
            <div class="traitdiv">
              {{! <textarea rows="4" id="personality-trait-one-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox" id="personality-trait-one-text"></div>
              <button class="trait-button" id="personality-trait-one-button">Suggestion</button>
            </div>
            <div class="clear"></div>
            <div class="traitdiv">
              {{! <textarea rows="4" id="personality-trait-two-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox" id="personality-trait-two-text"></div>
              <button class="trait-button" id="personality-trait-two-button">Suggestion</button>
            </div>
            <div class="clear"></div>

            <!-- ideal -->

            <p class="trait-desc">
              <b>Ideal: </b>
              Describe an ideal that drives your character, or use a random suggestion from your background.
              Your ideals are the things that you believe in most strongly, the
              fundamental moral and ethical principles that compel you to act as you do.
            </p>
            <div class="traitdiv">
              {{! <textarea rows="4" id="ideal-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox" id="ideal-text"></div>
              <button class="trait-button" id="ideal-button">Suggestion</button>
            </div>
            <div class="clear"></div>
            
            <!-- bond -->

            <p class="trait-desc">
              <b>Bond: </b>
              Create one bond for your character, or use a random suggestion from your background. 
              Bonds represent a character's connections to people, places, and events in
              the world. 
            </p>
            <div class="traitdiv">
              {{! <textarea rows="4" id="bond-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox" id="bond-text"></div>
              <button class="trait-button" id="bond-button">Suggestion</button>
            </div>
            <div class="clear"></div>

            <!-- flaw -->

            <p class="trait-desc">
              <b>Flaw: </b> 
              Choose a flaw for your character, or use a random suggestion
              from your background. Your character's flaw represents some vice, 
              compulsion, fear, or weakness.
            </p>
            <div class="traitdiv">
              {{! <textarea rows="4" id="flaw-text" class="traitfield"></textarea> }}
              <div contenteditable="true" class="editbox" id="flaw-text"></div>
              <button class="trait-button" id="flaw-button">Suggestion</button>
            </div>
            <div class="clear"></div>
          </div>

        </section>

        <!-- BACKGROUND SECTION -->

        <section>
          <h2 class="headline">Skills</h2>
          <div class="checkboxes">
            {{#skills}}
              <input type="checkbox" id="{{skillchoice}}" name="skills" value="{{skillval}}"><label for="{{skillchoice}}"><span>{{skillname}}</span></label><br>
            {{/skills}}
          </div>
        </section>


        <!-- DESCRIPTION SECTION -->

        <section>
          <h2 class="headline">Description</h2>
        </section>

        <!-- SUMMARY SECTION -->

        <section>
          <h2 class="headline">Summary</h2>
        </section>
      </main>
      <footer>

      </footer>
    </div>

    <script type="text/javascript" src="static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/index.js"></script>

  </body>
</html>